# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Optional local-only overrides or secrets
**/*.auto.tfvars.local
**/secrets.auto.tfvars

tmp/
.*/
!.github/
!.repo-meta/

# Provide Plugin Cache directory for Terraform
terraform.rc
.terraformrc
